 <!-- Publications Section -->
    <section class="success" id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications & Press</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <strong><p><a href="https://eberly.wvu.edu/news-events/eberly-news/2020/04/28/the-climate-superhero" style="color: #ffffff">The climate superhero</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://www.frontiersin.org/articles/10.3389/ffgc.2020.00043/full" style="color: #ffffff">Modeling the carbon cost of plant nitrogen and phosphorus uptake across temperate and tropical forests</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://www.frontiersin.org/articles/10.3389/ffgc.2020.00084/full" style="color: #ffffff">Ectomycorrhizal plant-fungal co-invasions as natural experiments for connecting plant and fungal traits to their ecosystem consequences</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://eberly.wvu.edu/news-events/eberly-news/2019/06/05/wvu-biology-student-to-investigate-the-role-of-soils-in-climate-change-across-global-ecosystems" style="color: #ffffff">WVU biology student to investigate the role of soils in climate change across global ecosystems</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2018GB005973" style="color: #ffffff">Diverse mycorrhizal associations enhance terrestrial C storage in a global model</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://www.semanticscholar.org/paper/Neglecting-plant–microbe-symbioses-leads-to-of-Shi-Fisher/354e9c8f6288b999849499cf18f11994c0533bbf" style="color: #ffffff">Neglecting plant–microbe symbioses leads to underestimation of modeled climate impacts</a></p></strong>
                    <br>
                    
                    <strong><p><a href="https://eberly.wvu.edu/news-events/eberly-news/2018/05/03/wvu-biology-student-uses-appalachian-forests-to-improve-future-climate-predictions" style="color: #ffffff">WVU biology student uses Appalachian forests to improve future climate predictions</a></p></strong>
                    <br>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://scholar.google.com/citations?user=hGEoHncAAAAJ&hl=en" class="btn btn-lg btn-outline">
                       See all publications
                    </a>
                </div>
            </div>
        </div>
    </section>